@import './breakpoints';
@import './variables';

@mixin flexBox($direction){
    display: flex;
    flex-direction: $direction;
}

@mixin nav-link{
    font-size: 2rem;
    text-decoration: none;
    font-family: $lightFont;

    @include tablet{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@mixin buttonForm(){
    padding: 0.5rem 0;
    min-width: 7rem;
    text-decoration: none;
    border-radius: 1.25rem;
    text-align: center;

    @include tablet{
        width: auto;
        min-width: 4rem;
        padding: 0.5rem 1rem;
    }
}