@import './fonts';


//color palette possbiility
// #EAC696 #C8AE7D  #765827  #65451F
// $Almond: #EAC696;
// $RM-Brown: #65451F;
// $RM-LightBrown: #C8AE7D;
// $RM-Brown2: #765827;

//Colors
$Almond: blanchedalmond;
$RM-Brown: rgb(73, 49, 18);
$RM-LightBrown: rgb(150, 118, 70);
$RM-Brown2: rgb(97, 70, 31);
$Black: #13182C;
$White: #FFFFFF;

$Slate: #5C667E;
$Graphite: #232940;
$Green: #158463;
$Cloud: #BDC5D5;
$Light-Grey: #F7F8F9;
$Red: #C94515;
$InStock-Green: rgba(21, 132, 99, 0.07);
$OutofStock-Red: rgba(201, 69, 21, 0.07);

//Fonts
$lightFont: "DM Sans Light";
$regularFont: "DM Sans Normal";
$boldFont: "DM Sans Bold";
$italicFont: "DM Sans Italic";

//Padding or Margin
$mobile-pad: 1rem;

//Floater Height
$floater-mobile: 8.5rem;
$floater-tablet: 5.5rem;
$floater-desktop: 4.5rem;